html,
body {
  padding: 0;
  margin: 0;
  background: #F9F9F9;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Spoqa-Regular';
}

:root {
  --primary-color: #C6D232;
}
